body {

    background-color: #002984;
}


div {
    box-sizing: border-box;
}
/* HEADER */




header {
    position: relative;
    width: 100%;
    height: 200px;
    

}


.todolist-icon {

    position: absolute;
    top: 80px;
    left: 50px;
    z-index: 1;
}
.todolist-icon .material-icons {
    color: white;
    font-size: 40px;
}

.todolist-box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: transparent;
    top: 30px;
    left: 50px;
    
    

}



.todolist-box .todo-form{
    position: absolute;
    top: 50%;
    
    
    
}
.todolist-box .todo-form input{
    text-align: center;
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}

.todolist-box .todo-form input::placeholder{
    color: white;
 }

.todo-list {
    position: absolute;
    background-color: #002984;
    width: 230px;
    height: 300px;
    top: 120px;
    z-index: 1;
    padding: 0 30px;

}

.todo-list li{
    list-style: outside;
    margin-top: 10px;
    color:white;
   
}



.todo-list li span {
    padding-right: 10px;
}



/* Section */


.hidden{
    display: none;
}

section {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: transparent;
}

.section-layout{

    height: 50px;
}

.section-layout:last-child{
    
    bottom: 0;
}


section .login__box {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #002984;
}

section .greeting-box {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #002984;

}

#login-form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 40px;
    width: 200px;
    height: 200px;

}

#login-form > input {
    
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
}

#login-form > input::placeholder {

    color: white;
}




.greeting-box {

display: flex;
justify-content: center;
align-items: center;

}

.greeting-box h1 {
    display: block;
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}



.time {
   
    text-align: center;
    color: white;
    
}

.time span {

font-size: 50px;
font-weight: 700;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.quotes-box {

    height: 100px;
    background-color: #002984;
    text-align: center;
    color: white;

}

.quotes-box span{

    font-size: large;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.quotes-box .author{

    display: inline-block;
    margin-top: 20px;
   
}




/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    
}