
body {

background-color: #000;
background-position: center;
}


/* header */

.header__main {

    width: 100%;
    height: 150px;
    
}

.header__main h1 {
    padding: 30px;
    color: white;
    font-size: 150px;
    text-align: center;
    font-family: 'Gluten', cursive;
    width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/* Greeting */

.login {
    width: 100%;
    height: 500px;
    position: relative;

}


#greeting {
    text-align:center;
    top: 150px;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 100px;
    
   
}

.hidden{
    display: none;
}


/* Login */



.login__box {

    
    height: 100%;
    width: 50%;
    position: absolute;
   
    left: 0;
    right: 0;
    
    margin: auto;   
    
}



.login__box #login-form {

    padding: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 150px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    
}

#login-form h1 {
    font-family: 'Gluten', cursive;
    color: white;
    font-size: 250px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
#login-form h2 { 
    font-family: 'Gluten', cursive;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.login__box #login-input {

    display: block;
    margin: 40px 0;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    text-align: center;
    padding-bottom: 5px;
    color: white;
    font-family: 'Gluten', cursive;

}


.login__box .login__btnBox {

    width: 100%;
    position: relative;
   
}

.login__box .login__btnBox .login__btn {
    position: absolute;
    display: block;
    width: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    font-family: 'Gluten', cursive;
}

